<!doctype html>
<html lang="en" th:replace="~{base::layout(~{::section})}">

<head>
</head>

<body>

  <section>


    <div class="row px-4 py-5 px-md-12 text-center text-lg-start"
      style="background-color: hsl(0, 0%, 96%); height:auto;">


      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-8 mb-5 mb-lg-0">

            <h1 class="mb-4 display-7 text-center fw-bold ls-tight" style="font-size:38px;">
              About <span style="color: #ef662f;">Portal</span>
            </h1>
            <p style="font-weight: 400; line-height: 1.5; font-size: 17px; text-align: justify;">
              Welcome to the Softpro Online Test Portal, a powerful platform to make online test management seamless
              and efficient. This portal is specifically designed to help Softpro India assess and evaluate students
              on a large scale, ultimately aiding in the selection process for our free internship programs. By
              leveraging this portal, we can sort students based on their test performance and identify top talent for
              valuable internship opportunities.

              <br> <br>
              The portal features a user-friendly interface that ensures a smooth and intuitive experience for both
              students and administrators, making it easy to create, manage, and evaluate tests. Having already
              facilitated assessments for over 17,000 students, the platform has proven to be highly reliable,
              scalable, and efficient, allowing us to handle large volumes of test-takers effortlessly.

              <br> <br>
              Through this portal, we aim to continue identifying bright minds and providing them with meaningful
              learning opportunities at Softpro India.
            </p>
          </div>

          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="card shadow">
              <div class="card-body">
                <div class="row">
                  <img src="images/otp.webp" alt="otp">
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </section>
</body>

</html>



<!-- <div class="container">
  <div class="row gx-lg-5 align-items-center">
    <div class="col-lg-7 mb-5 mb-lg-0">
      <h1 class="my-auto mb-4 display-7 text-center fw-bold ls-tight" style="font-size:38px;">About Portal</h1>
      <p style="font-family: sans-serif; font-weight: 100; line-height: 1.5; font-size: 17px; text-align: justify;">
        Engaging in summer
        internship
        programs allows students to enhance their technical skills, communication abilities, teamwork, and
        problem
        solving capabilities. Exposure to cutting-edge technologies and hands-on experience in project
        execution
        equips students with the competencies required to thrive in today's dynamic and competitive job
        market.Engaging in summer
        internship
        programs allows students to enhance their technical skills, communication abilities, teamwork, and
        problem
        solving capabilities. Exposure to cutting-edge technologies and hands-on experience in project
        execution
        equips students with the competencies required to thrive in today's dynamic and competitive job
        market.Engaging in summer
        internship
        programs allows students to enhance their technical skills, communication abilities, teamwork, and
        problem
        solving capabilities. Exposure to cutting-edge technologies and hands-on experience in project
        execution
        equips students with the competencies required to thrive in today's dynamic and competitive job
        market. equips students with the competencies required to thrive in today's dynamic and competitive job
        market.</p>



      <hr />

      <p class="text-center fw-bold me-4" style="font-size:17px;">
        Organized by <b style="color: #ef662f;">Softpro India Computer Technologies (P) Ltd</b>
      </p>
    </div>

    <div class="col-lg-5 mb-5 mb-lg-0">
      <div class="card shadow">
        <div class="card-body py-5 px-md-5">
          <div class="row">


            <div class="col-md-12 text-center mb-3">
              <h1 class="my-auto mb-2 display-7 text-center fw-bold ls-tight" style="font-size:38px;">
                <b style="color: #ef662f;">Student Login</b>
              </h1>
              <br />
            </div>

            <div class="col-md-12 mb-4" style="margin-top:-20px;">
              <label class="form-label" for="form3Example3">User Name*</label>
              <div class="form-outline">
                <input name="user" type="text" class="form-control" placeholder="Enter Your User Name"
                  style="height:60px; border-radius:0px;" />
                <span style="color:Red;visibility:hidden;">*</span>
              </div>
            </div>
            <div class="col-md-12 mb-4" style="margin-top:-30px;">
              <label class="form-label" for="form3Example3">Password *</label>
              <div class="form-outline">
                <input name="Password" type="password" class="form-control" placeholder="Enter Your Password"
                  style="height:60px; border-radius:0px;" />
                <span style="color:Red;visibility:hidden;">*</span>
              </div>
            </div>
          </div>
          <input type="submit" value="Login"
            style="height: 50px; width: 100%; background-color: #ef672e; border:0px; border-radius:5px; color:white;" />


        </div>
      </div>
    </div>
  </div> -->