<!doctype html>
<html lang="en" th:replace="~{base::layout(~{::section})}">

<head>
</head>

<body>
	
<section>

    <div class="container-fluid">


	  <!-------------------------------------- Main Intro Row Start ------------------------------------------>

	  <div class="row p-3 text-center" style="background-color:#ef662f;">
		<div class="col-sm-12">
			<h2 class="fw-bold text-white">Our Experts</h2>
		</div>
	</div>

	  <!-- Team Start -->
	  <div class="container-fluid py-5">
	      <div class="container px-lg-5">
	          <div class="section-title position-relativ mb-2 pb-2 wow fadeInUp" data-wow-delay="0.1s"
	              style="max-width: 600px;">
	              <!-- <p class="mb-1"></p> -->
	          </div>
	          <!-- ============================== -->
	          <div class="row g-4 py-2">


	              <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
	                  <div class="team-item border-top rounded shadow overflow-hidden"
	                      style="border-top: 6px solid #ef672e !important;">
	                      <div class="text-center p-4">
	                          <img class="img-fluid mb-4" src="images/38.jpg" alt="">
	                          <h5 class="fw-bold mb-1">Er. Brijesh Mishra</h5>
	                          <hr />
	                          <p style="font-weight: normal;">ML & Data Science <br> Expert</p>
	                      </div>
	                      <div class="d-flex justify-content-center p-3" style="background-color: #ef672e;">
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f"
	                                  style="color: #ef672e;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter"
	                                  style="color: #ef672e;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram"
	                                  style="color: #ef672e;"></i></a>
	                      </div>
	                  </div>
	              </div>
	              <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
	                  <div class="team-item border-top rounded shadow overflow-hidden"
	                      style="border-top: 6px solid #ef672e !important;">
	                      <div class="text-center p-4">
	                          <img class="img-fluid mb-4" src="images/36.jpg" alt="">
	                          <h5 class="fw-bold mb-1">Er. Rohit Kumar</h5>
	                          <hr />
	                          <p style="font-weight: normal;">Python & Web Tech <br> Expert</p>
	                      </div>
	                      <div class="d-flex justify-content-center p-3" style="background-color: #ef672e;">
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f"
	                                  style="color: #ef672e;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter"
	                                  style="color: #ef672e;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram"
	                                  style="color: #ef672e;"></i></a>
	                      </div>
	                  </div>
	              </div>

	              <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
	                  <div class="team-item border-top rounded shadow overflow-hidden"
	                      style="border-top: 6px solid #ef672e !important;">
	                      <div class="text-center py-4">
	                          <img class="img-fluid mb-4 px-4" src="images/44.jpg" alt="">
	                          <h5 class="fw-bold mb-1">Subrat Tripathi</h5>
	                          <hr />
	                          <p style="font-weight: normal;">ML & Data Science <br> Consultant</p>
	                      </div>
	                      <div class="d-flex justify-content-center p-3" style="background-color: #ef672e !important;">
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f"
	                                  style="color: #ef672e ;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter"
	                                  style="color: #ef672e ;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram"
	                                  style="color: #ef672e ;"></i></a>
	                      </div>
	                  </div>
	              </div>
	              <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
	                  <div class="team-item border-top rounded shadow overflow-hidden"
	                      style="border-top: 6px solid #ef672e !important;">
	                      <div class="text-center py-4">
	                          <img class="img-fluid mb-4 px-4" src="images/39.jpg" alt="">
	                          <h5 class="fw-bold mb-1">Er. P. Rajnikant</h5>
	                          <hr />
	                          <p style="font-weight: normal;">Python & AI  <br> Expert</p>
	                      </div>
	                      <div class="d-flex justify-content-center p-3" style="background-color: #ef672e !important;">
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f"
	                                  style="color: #ef672e ;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter"
	                                  style="color: #ef672e ;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram"
	                                  style="color: #ef672e ;"></i></a>
	                      </div>
	                  </div>
	              </div>
	          </div>

	          <!-- ==================================================== -->

	          <div class="row g-4 py-2">
	              <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
	                  <div class="team-item border-top rounded shadow overflow-hidden"
	                      style="border-top: 6px solid #ef672e !important;">
	                      <div class="text-center p-4">
	                          <img class="img-fluid mb-4" src="images/40.jpg" alt="">
	                          <h6 class="fw-bold mb-1">Er. Manas Agarwal</h6>
	                          <hr />
	                          <p style="font-weight: normal;">Microsoft Azure & Cloud Expert</p>
	                      </div>
	                      <div class="d-flex justify-content-center p-3" style="background-color: #ef672e;">
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f"
	                                  style="color: #ef672e;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter"
	                                  style="color: #ef672e;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram"
	                                  style="color: #ef672e;"></i></a>
	                      </div>
	                  </div>
	              </div>

	              <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
	                  <div class="team-item border-top rounded shadow overflow-hidden"
	                      style="border-top: 6px solid #ef672e !important;">
	                      <div class="text-center p-4">
	                          <img class="img-fluid mb-4" src="images/35.jpg" alt="">
	                          <h5 class="fw-bold mb-1">Er. Tushit Gupta</h5>
	                          <hr />
	                          <p style="font-weight: normal;">Embedded C & IoT <br> Expert</p>
	                      </div>
	                      <div class="d-flex justify-content-center p-3" style="background-color: #ef672e;">
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f"
	                                  style="color: #ef672e;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter"
	                                  style="color: #ef672e;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram"
	                                  style="color: #ef672e;"></i></a>
	                      </div>
	                  </div>
	              </div>

	              <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
	                  <div class="team-item border-top rounded shadow overflow-hidden"
	                      style="border-top: 6px solid #ef672e !important;">
	                      <div class="text-center py-4">
	                          <img class="img-fluid mb-4 px-4" src="images/37.jpg" alt="">
	                          <h5 class="fw-bold mb-1">Er. Vipul Gupta</h5>
	                          <hr />
	                          <p style="font-weight: normal;">Java  <br> Expert </p>
	                      </div>
	                      <div class="d-flex justify-content-center p-3" style="background-color: #ef672e !important;">
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f"
	                                  style="color: #ef672e ;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter"
	                                  style="color: #ef672e ;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram"
	                                  style="color: #ef672e ;"></i></a>
	                      </div>
	                  </div>
	              </div>
	              <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
	                  <div class="team-item border-top rounded shadow overflow-hidden"
	                      style="border-top: 6px solid #ef672e !important;">
	                      <div class="text-center py-4">
	                          <img class="img-fluid mb-4 px-4" src="images/41.jpg" alt="">
	                          <h5 class="fw-bold mb-1">Er. Rahul Raj</h5>
	                          <hr />
	                          <p style="font-weight: normal;">IOT <br> Expert</p>
	                      </div>
	                      <div class="d-flex justify-content-center p-3" style="background-color: #ef672e !important;">
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f"
	                                  style="color: #ef672e ;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter"
	                                  style="color: #ef672e ;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram"
	                                  style="color: #ef672e ;"></i></a>
	                      </div>
	                  </div>
	              </div>
	          </div>

	          <!-- ======================== -->

	          <div class="row g-4 py-2">
	              <div class="col-sm-2"></div>
	              <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
	                  <div class="team-item border-top rounded shadow overflow-hidden"
	                      style="border-top: 6px solid #ef672e !important;">
	                      <div class="text-center p-4">
	                          <img class="img-fluid mb-4" src="images/42.jpg" alt="">
	                          <h6 class="fw-bold mb-1">Er Pradyuman Tiwari</h6>
	                          <hr />
	                          <p style="font-weight: normal;">Cloud & IOT  <br> Expert</p>
	                      </div>
	                      <div class="d-flex justify-content-center p-3" style="background-color: #ef672e;">
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f"
	                                  style="color: #ef672e;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter"
	                                  style="color: #ef672e;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram"
	                                  style="color: #ef672e;"></i></a>
	                      </div>
	                  </div>
	              </div>

	              <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
	                  <div class="team-item border-top rounded shadow overflow-hidden"
	                      style=" border-top: 6px solid #ef672e !important;">
	                      <div class="text-center p-4">
	                          <img class="img-fluid mb-4" src="images/43.jpg" alt="">
	                          <h5 class="fw-bold mb-1">Er. Kushal Anand</h5>
	                          <hr />
	                          <p style="font-weight: normal;">PLC SCADA <br> Expert</p>
	                      </div>
	                      <div class="d-flex justify-content-center p-3" style="background-color: #ef672e;">
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f"
	                                  style="color: #ef672e;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter"
	                                  style="color: #ef672e;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram"
	                                  style="color: #ef672e;"></i></a>
	                      </div>
	                  </div>
	              </div>

	              <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="zoom-in-up">
	                  <div class="team-item border-top rounded shadow overflow-hidden"
	                      style="border-top: 6px solid #ef672e !important;">
	                      <div class="text-center py-4">
	                          <img class="img-fluid mb-4 px-4" src="images/45.jpg" alt="">
	                          <h5 class="fw-bold mb-1">Er. Amit Bhandari</h5>
	                          <hr />
	                          <p style="font-weight: normal;">Embedded System &  <br> Robotics and IoT</p>
	                      </div>
	                      <div class="d-flex justify-content-center p-3" style="background-color: #ef672e !important;">
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f"
	                                  style="color: #ef672e ;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter"
	                                  style="color: #ef672e ;"></i></a>
	                          <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram"
	                                  style="color: #ef672e ;"></i></a>
	                      </div>
	                      <div class="col-sm-1"></div>
	                  </div>
	              </div>
	          </div>
	      </div>
	  </div>

	  <!-------------------------------------- Main Intro Row End ------------------------------------------>

	  
</div>


</section>



</body>

</html>